





.portada-pp{
    height: 459px;
    width: 100%;
}


.portada-pp img{
    height: 459px;
    cursor: pointer;
}



.ocultarP{
   background-color: rgba(119, 111, 111, 0.219);
   bottom: 0px;
   top: 0;
   transition: 1s ease;
   height:0;
   overflow: hidden;
   position: absolute;
   width: 100%;
}

.portada-pp:hover .ocultarP{
    height: 74%;
    opacity: 1;
}

.card-p{
    width: 300px;
    
}


.div-hover{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
}