body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}

.portada-pp{
    height: 559px;
    width: 100%;
    overflow: hidden;
}

.portada-pp img{
    height: 459px;
    cursor: pointer;
}

.ocultarP{
   background-color: rgba(8, 8, 8, 0.548);
   bottom: 0px;
   transition: 1s ease;
   height:0;
   left: 0;
   top: 0;
   overflow: hidden;
   position: absolute;
   width: 54px;
   padding: 10px 0px;
}

.portada-pp:hover .ocultarP{
    height: 90%;
    opacity: 1;
    
}

.div-hover{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    width: 100%;
    height: 280px;
    margin-top: 100px;
}

#carouselExampleIntervalm img{
    height: 500px;
}

.card-j{
    border: transparent;
    cursor: pointer;
    background-color: black;
    color: white;
}

.card-j img{
    height: 100%;
    width: 100%;
}

#carouselExampleIndicators img{
    height: 600px;
}

.btn-busqueda{
    height: 40px;
}

header{
    position: relative;
    z-index: 1; 
}


/* clase para filtro de busqueda pagina principal */
.filterCardP{
    display: none;
}

/* estilos de hover a la card */
.ocultarCard{
    background-color: rgba(12, 11, 11, 0.664);
   bottom: 0px;
   transition: 0.5s ease;
   height:0;
   left: 0;
   overflow: hidden;
   position: absolute;
   width: 100%;
   padding: 10px 0px;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
}

.card-j:hover .ocultarCard{
    height: 100%;
    opacity: 1;
}

#oferta{
    text-shadow: 0px 0px 100px;
    animation: animate 5s infinite linear;
}

.ver{
    display: none;
}

@keyframes animate {
    0%{
        color: red;
    }

    50%{
        color: lawngreen;
    }

    100%{
        color:deepskyblue;
    }
}

.arg{
    height: 355px;
}

.btn-busqueda{
    width: 400px;
}

/* estilos pagina sobre nosotros */

.div-radius{
    border-radius:100%;
    border:10px solid rgb(94, 86, 86);
    width: 100%;
    animation: circulos 2s infinite linear;
}

@keyframes circulos {
    0%{
        border:10px solid rgba(236, 11, 11, 0.678) ;
    }
    
    25%{
        border:10px solid rgba(157, 236, 11, 0.616) ;
    }

    50%{
        border:10px solid rgba(11, 90, 236, 0.644) ;
    }

    100%{
        border:10px solid rgb(8, 8, 8) ;
    }
}

.bodySobrenosotros{
    background-color: black;
}

.oficinas img{
    height: 600px;
}

.card-perfil{
    background-color:rgba(0, 0, 0, 0.973);
    color: white;
}





/* estilos apgina detalle */
.borderDetalle{
    border: transparent;
}




@media all and (max-width:540px){
  #carouselExampleIndicators{
    display: none;
  }

  .ocultarP{
    background-color: rgba(53, 43, 43, 0.548);
    bottom: 0px;
    transition: 1s ease;
    height:0;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    width: 54px;
    padding: 10px 0px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: end;
   display: none;
 }
 
 .portada-pp:hover .ocultarP{
     height: 62%;
     opacity: 1;
     
 }
 
 .div-hover{
     display: none;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    width: 100%;
 }

 .div-hover a{
    display: none;
 }

 .portada-pp{
    height: 357px;
    width: 100%;
    overflow: hidden;
 }

 .portada-pp img{
    height: 317px;
    cursor: pointer;
 }
  
 .img-cirulo{
    display: none;
 }
 
 .oficinas img{
    height: 284px;
 }

 .divBusqueda{
    width: 100%;
 }
 
 .btn-busqueda{
    width: 200px;
 }
 .search{
    width: 100%;
}
}

@media all and (max-width:991px){
    .ocultarP{
        background-color: rgba(53, 43, 43, 0.548);
        bottom: 0px;
        transition: 1s ease;
        height:0;
        left: 0;
        top: 0;
        overflow: hidden;
        position: absolute;
        width: 54px;
        padding: 10px 0px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: end; 
       display: none;
     }
     
    .portada-pp:hover .ocultarP{
         height: 39%;
         opacity: 1;  
    }
     
    .div-hover{
        display: none;
    }
    
    .div-hover a{
        display: none;
    }

    .card-perfil img{
        margin-top: 45px;
    }

    .r-dama{
        height: 213px;
    }
    .ocultar{
        display: none;
    }

    .ver{
        display: initial;
    }

    .oficinas img{
        height: 500px;
     }
}